<%= form_with(model:[@user, @somatic], local: true) do |f| %>
  <div>
    <%= f.label :images, '画像' %>
    <%= f.file_field :images, multiple: true %>
  </div>

    <div class="submit">
    <%= f.submit %>
  </div>

<% end %>