

<div class="user-index">

<div class="user-index-contents">

<div class="user-index-main">
<div class="user-index-list">
<% @users.each do |user|%>
<div class="user-index-group">
 <%= link_to user_path(user.id) do%>
<%= image_tag user.image,class:"user-index-image"%>
<div class="user-index-name">
<%= user.name%>（<%=user.kana%>）様
</div>
</div>
<%end%>
<%end%>
</div>
</div>
</div>
</div>