<div class="information-view">
今月の新患情報
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">名前</th>
      <th scope="col">生年月日</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <% @orders.each do |orders|%>
      <td ><%= orders.id%></td>
      <td><%= link_to (orders.name),user_path(orders.id)%></td>
      <td><%= orders.birthday.strftime('%Y/%m/%d')%>（<%=(@now.to_i - (orders.birthday.strftime('%Y%m%d')).to_i)/10000%>歳）</td>
    </tr>
  </tbody>
  <%end%>
</table>
</div>


