// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a {
  text-decoration: none;
  color: black;
}

.item-index{
  height: calc(100vh - 100px);
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-index-image{
  text-align: center;
  margin: 10px;
}
.item-box{
  width: 200px;
}
.item-contents{
  margin: 0 10px;
  width: 200px;
  border: 1px solid gray;
  border-radius: 10px;
}
.item-image{
  // width: 100px;
  height: 50px;
}
.item-text{
  text-align: center;
  padding: 10px;
}