// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a {
  text-decoration: none;
  color: black ;
}

.item-index{
  // margin-top: 100px;
  width: 100vw;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-index-image{
  text-align: center;
  margin: 10px;
}
.item-box{
  width: calc(80vw/3);
  margin-top: 50px;
}
.item-contents{
  margin: 0 auto;
  width: 70%;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 10px;
}
.item-image{
  // width: 100px;
  height: 50px;
}
.item-text{
  text-align: center;
  padding: 0 0 10px 0;
}

// heaader右部分
.admin-post{
  margin-right: 15px;
}

// item/index来院情報
.item-index-outpatient{
  width: 75%;
  margin: 50px auto;
}