/* user/index */
.side-bar{
  width: 25%;
}
.user-index{
  margin-top: 20px;
  text-align: center;
}
.user-index-list{
  width: 70%;
  margin: 0 auto;
}
.user-index-image{
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.user-list{
  vertical-align: middle !important;
}



.search-form{
  text-align: center;
  margin-top: 20px;
}
.search-btn{
  padding: 0 5px;
}

/* user/show */
.user-show-informations{
  display: flex;
  width: 100%;
  justify-content: center;
}
.user-show-information{
  padding: 10px;
}

.user-top-contents{
  display: flex;
  margin-top: 20px;
}
.user-top-image{
  width: 50%;
  text-align: center;
}
.user-image{
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.user-information{
  margin: auto 0;
}
.user-style{
  display: flex;
  margin-top: 30px;
}
.user-calendar{
  border: 1px solid gray;
  background-color: #badcf8;
  /* margin: 10px; */
  padding: 10px 60px;
  border-radius: 5px;
}
.user-image-new{
  border: 1px solid gray;
  background-color: #badcf8;
  margin: 10px;
  padding: 10px 25px;
  border-radius: 5px;
}
.user-name{
  font-size: 18px;
  margin-bottom: 10px;
}
.user-gender{
  margin-bottom: 10px;
}
.user-show-visit{
  display: flex;
  margin: 10px 0;
}
.detail-user-item{
  width: 90%;
  height: 100%;
  padding: 20px;
  border: 1px solid gray;
  font-size: 14px;
  color: #3b4043;
  background-color: #badcf8;
}
.detail-values-user-text{
  width: 100%;
  white-space: pre-line;
  word-wrap: break-word;
  text-align: left;
  overflow-x: scroll;
}
.detail-values-user {
  width: 90%;
  /* height: 318px; */
  padding: 20px;
  border: 1px solid gray;
  font-size: 14px;
  color: #3b4043;
}





/* user/new */
.user-new{
  width: 60%;
  margin: 50px auto;
}
.input-birth-wrap {
  display: flex;
  flex-wrap: wrap;
}
.input-birth-wrap select {
  width: 120px;
  margin-top: 5px;
  height: 40px;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid #ced4da;
  background: #fff;
  font-size: 12px;
  cursor: pointer;
}
.input-birth-wrap p {
  line-height: 60px;
  padding: 0 5px;
}

.indispensable {
  background: rgb(150, 202, 250);
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: black;
  font-size: 12px;
  /* font-weight: bold; */
}
.user-image-select{
  text-align: center;
  margin-bottom: 20px;
}
.img-upload img{
  max-height: 200px;
    max-width: 300px;
    margin: 20px;
}


/* admin */
.admin{
  width: 40%;
  margin: 50px auto;
}


